{{ define "base" }}
<!DOCTYPE html>
<html lang="en" data-theme="dark" data-density="regular">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Gophish - Phishing Toolkit">
    <meta name="author" content="Jordan Wright (http://github.com/jordan-wright)">
    <link rel="shortcut icon" href="/images/favicon.ico">

    <title>{{ .Title }} - Gophish</title>

    <!-- Pre-paint theme init (avoids flash of wrong theme) -->
    <script>
        (function () {
            try {
                var t = localStorage.getItem("gophish-theme") || "dark";
                document.documentElement.setAttribute("data-theme", t);
            } catch (e) { }
        })();
    </script>

    <link href="/css/dist/gophish.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=IBM+Plex+Mono:wght@400;500;600&display=swap" rel="stylesheet" type="text/css">
    <link href="/css/soc.css" rel="stylesheet" type="text/css">
    <script>
        {{if .User}}
    var user = {
        api_key : {{ .User.ApiKey }},
        username : {{ .User.Username }}
    }
    {{end}}
    {{if .Token}}
        var csrf_token = {{.Token}}
    {{end}}
    </script>
</head>

<body>
    <div class="app">
        {{template "nav" .}}
        <div class="main">
            <header class="topbar">
                <div>
                    <div class="page-title">{{ .Title }}</div>
                    <div class="page-sub" id="topbarSub"></div>
                </div>
                <div class="search">
                    <i class="fa fa-search"></i>
                    <input id="topbarSearch" placeholder="Filter this page…" autocomplete="off" />
                    <span class="kbd">/</span>
                </div>
                <button class="icon-btn" id="themeToggle" title="Toggle theme" type="button">
                    <i class="fa fa-moon-o"></i>
                </button>
                <a class="btn btn-primary" href="/campaigns"><i class="fa fa-plus"></i>&nbsp;New Campaign</a>
            </header>
            <div class="canvas">
                {{template "body" .}}
            </div>
        </div>
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/dist/vendor.min.js"></script>
    <script src="/js/dist/app/gophish.min.js"></script>
    <script src="/js/dist/app/soc.min.js"></script>
    {{template "scripts" .}}
</body>

</html>
{{ end }}
